.navbarContainer{
    display:flex;
    justify-content:space-between;
    padding:0 5rem;
    background-color:
    #171717;
}
.brandContainer{
   
    font-size: 1.5rem;
    margin:0 0.5rem;
   
}
.brandContainer h1{
   margin:0;
   padding-top:0.6rem;
}

.profileInfoContainer{
    display:flex;
    justify-content:space-between;
    padding:0.5rem;
}

.profileImageContainer{
     height:3rem;
     width: 3rem;
     margin:0.9rem 1rem;
     border-radius: 100%;
     overflow:hidden;
}

.profileImageContainer img{
    height:100%;
    width: 100%;
}


.profileNameContainer{
    margin:0 1rem;
    padding-top:0.2rem;
    font-size: 15px;
}