.toolbarContainer{
    padding:1.5rem 5.2rem;
    display: flex;
    justify-content: space-between;
}
.toolbarLinksContainer{
    display: flex;
    justify-content: space-between;
}

.toolbarLinksContainer ul{
    list-style:none;
    display:flex;
    padding:0;
    margin:0;
}

.toolbarLinksContainer li{
   margin-right:3rem;
}

.toolbarLinksContainer a{
    display:inline-block;
    padding:1rem 0;
    font-size: 1.5rem;

}

.toolbarFilterContainer{
    position:relative;
    padding:0.5rem 1rem;
    padding-bottom:1rem;
    font-size: 1.5rem;
    background-color:#171717;
    margin-right:-0.8rem;
    width:17rem;
    border-radius: 3px;;
}
.filterHeading{
margin-bottom:2rem;

cursor:pointer;

    
}
.toolbarFilterContainer svg{
   height:2.5rem;
   width:2.5rem;
   position:relative;
   top:0.8rem;
   margin-right:0.5rem;
    
}

.activeLink a{
    border-bottom:1px solid white;
    font-weight: bold;
    color:white;
   
}

.filterDropDownContainer select{
 color:rgb(230, 230, 230);
   background-color:#292929;
   font-size: 1.2rem;
   border:none;
   margin:0.5rem 0;
   margin-top:1.5rem;
   padding:1rem 1.5rem;
   width:15rem;
   outline:none;
   
}

.filterDropDownContainer option{
    padding:0.5rem 0.5rem;
    
 }

 .dropDownContainer{
     height:0;
     overflow:hidden;
     transition:all 0.2s;
     position:absolute;
     top:4.3rem;
     background-color:#171717;
     box-shadow:1rem 1rem 2.5rem rgba(194, 194, 194, 0.103);
     padding:0 1rem;
     left:0;
    
 }



 .dropped{
    transition:all 0.4s;
     height:160px;
     
     padding:0.5rem 1rem;;
 }

 .freqSpan{
     margin: 0 0.6em;
     font-size: 1.3rem;;
 }